/* Cardo 400, 700 */

@font-face {
	font-family: 'Cardo';
	src: url("../fonts/Cardo/cardo-v11-latin-regular.eot"),
	url("../fonts/Cardo/cardo-v11-latin-regular.ttf"),
	url("../fonts/Cardo/cardo-v11-latin-regular.woff"),
	url("../fonts/Cardo/cardo-v11-latin-regular.woff"),
	url("../fonts/Cardo/cardo-v11-latin-regular.svg");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Cardo';
	src: url("../fonts/Cardo/cardo-v11-latin-700.eot"),
	url("../fonts/Cardo/cardo-v11-latin-700.ttf"),
	url("../fonts/Cardo/cardo-v11-latin-700.woff"),
	url("../fonts/Cardo/cardo-v11-latin-700.woff2"),
	url("../fonts/Cardo/cardo-v11-latin-700.svg");
	font-style: normal;
	font-weight: 700;
}

/* taviraj-900 - latin */
@font-face {
	font-family: 'Taviraj';
	font-style: normal;
	font-weight: 900;
	src: local('Taviraj Black'), local('Taviraj-Black'),
	url('../fonts/Taviraj/taviraj-v5-latin-900.eot'),
	url('../fonts/Taviraj/taviraj-v5-latin-900.woff2') ,
	url('../fonts/Taviraj/taviraj-v5-latin-900.woff') ,
	url('../fonts/Taviraj/taviraj-v5-latin-900.ttf') ,
	url('../fonts/Taviraj/taviraj-v5-latin-900.svg') ;
}

/* Metropolis 400, 600, 700 */

@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/metropolis/Metropolis-Regular.otf"),
	url("../fonts/metropolis/Metropolis-Regular.eot"),
	url("../fonts/metropolis/Metropolis-Regular.ttf"),
	url("../fonts/metropolis/Metropolis-Regular.woff"),
	url("../fonts/metropolis/Metropolis-Regular.woff2");
}

@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/metropolis/Metropolis-SemiBold.otf"),
	url("../fonts/metropolis/Metropolis-SemiBold.eot"),
	url("../fonts/metropolis/Metropolis-SemiBold.ttf"),
	url("../fonts/metropolis/Metropolis-SemiBold.woff"),
	url("../fonts/metropolis/Metropolis-SemiBold.woff2");
}

@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/metropolis/Metropolis-Bold.otf"),
	url("../fonts/metropolis/Metropolis-Bold.eot"),
	url("../fonts/metropolis/Metropolis-Bold.ttf"),
	url("../fonts/metropolis/Metropolis-Bold.woff"),
	url("../fonts/metropolis/Metropolis-Bold.woff2");
}