@media (max-width: 1679px) {

	/* Containers  */
	.container_fluid {
		padding: 0 60px;
	}

	.container {
		width: 1440px;
	}

	.column_1-6 {
		width: 20%;
	}

	/* Header */

	.header-wrap {
		height: 900px;
	}

	.header_inner {
		height: 95%;
	}

	.frame6 {
		top: 43%;
	}

	/* Content */

	.inner_wrap {
		justify-content: center;
		width: 1320px;
		margin: 0 auto;
	}

	/* Plugins */

	.plugins_inner {
		margin-right: -30px;
	}

	.plugins_item {
		padding-right: 30px;
		padding-bottom: 30px;
	}

	/* Features */

	.features_inner {
		justify-content: center;
	}

	.features_subtitle {
		width: 50%;
	}
}

@media (max-width: 1439px) {

	/* Tags */

	html {
		font-size: 13px;
	}

	/* Containers */

	.container_fluid {
		padding: 0 50px;
	}

	.container {
		width: 1280px;
		padding: 0 50px;
	}

	/* Columns */

	.column_1-5 {
		width: 25%;
	}

	/* Header */

	.header-wrap {
		height: 800px;
	}

	.frame7 {
		bottom: -2%;
	}

	/* Content */

	.inner_wrap {
		justify-content: center;
		width: 1180px;
		margin: 0 auto;
	}

	/* Home */

	.home-wrap {
		padding: 5rem 0 4rem;
	}

	/* Builder */

	.builder-wrap {
		padding: 6rem 0 8rem;
	}

	/* Events */

	.events-wrap {
		padding: 8rem 0;
	}

	/* Plugins */

	.plugins-wrap {
		padding: 8rem 0 5.6rem;
	}

	.plugins_inner {
		justify-content: center;
	}

	.plugin {
		padding-top: 4.5rem;
		padding-bottom: 3rem;
	}

	/* Pages */

	.pages-wrap {
		padding: 8rem 0 4rem;
	}

	/* Features */

	.features-wrap {
		padding: 8rem 0 5.3rem;
	}

	.features_content {
		padding: 3.5rem 0 3rem;
	}
}

@media (max-width: 1279px) {

	/* Tags */

	body {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	/* Columns */

	.columns_wrap {
		margin-right: -30px;
	}

	.column {
		display: inline-block;
		vertical-align: top;
		padding-right: 30px;
		padding-bottom: 30px;
	}

	.column_1-6 {
		width: 25%;
	}

	/* Containers */

	.container_fluid {
		padding: 0 30px;
	}

	.container {
		width: 1024px;
		padding: 0 30px;
	}

	/* Header */

	.header-wrap {
		height: 750px;
	}

	.logo_wrap a {
		font-size: 40px;
		color: #EBE9CF;
		padding-left: 0;
		padding-bottom: .5rem;
	}

	.nav_left .nav_link {
		margin-left: 3rem;
		padding: 2.5rem 0;
	}

	.nav_btn {
		padding: 2.5rem 3rem 2.5rem 3rem;
	}

	.frame4 {
		bottom: 23%;
	}

	.frame6 {
		top: 40%;
	}

	/* Content */

	.inner_wrap {
		justify-content: center;
		width: 964px;
		margin: 0 auto;
	}

	/* Home */

	.home_inner {
		margin-right: -30px;
	}

	.home_item {
		padding-right: 30px;
		padding-bottom: 30px;
	}

	/* Builder */

	.builder-wrap {
		background-position: 100% 50%;
		-webkit-background-size: 65%;
		background-size: 65%;
	}

	.builder_img {
		width: 45%;
	}

	/* Events */

	.events-wrap {
		background: #13130D url(../assets/images/events/back.png) -13% 34% no-repeat;
		-webkit-background-size: 61%;
		background-size: 61%;
	}

	.events_img {
		width: 45%;
		margin-left: 0;
	}
}

@media (max-width: 1023px) {

	/* Tags */

	html {
		font-size: 12px;
	}

	a {
		font-size: 13px;
	}

	h2 {
		font-size: 3rem;
	}

	/* Containers */

	.container {
		width: 768px;
	}

	/* Columns */
	.column_1-4,
	.column_1-5,
	.column_1-6 {
		width: 33%;
	}

	/* Header */

	.header-wrap {
		height: 600px;
	}

	.header_inner {
		height: 85%;
	}

	.header_inner:before {
		background: url(../assets/assets/images/header/2back_1.png) 101% 13% no-repeat;
		-webkit-background-size: 39%;
		background-size: 39%;
	}

	.header_inner:after {
		background: url(../assets/assets/images/header/1back_1.png) -4% 85% no-repeat;
		-webkit-background-size: 44%;
		background-size: 44%;
	}

	.header_top {
		justify-content: flex-end;
		position: relative;
		height: 5rem;
	}

	.logo_wrap {
		padding-left: 0;
	}

	.logo_wrap a {
		font-size: 30px;
		position: absolute;
		padding-bottom: 0;
		left: 30px;
		top: 50%;
		-webkit-transform: translateY(-55%);
		-ms-transform: translateY(-55%);
		-o-transform: translateY(-55%);
		transform: translateY(-55%);
	}

	.nav_left {
		order: 1;
	}

	.nav_right {
		order: 2;
	}
	
	.nav_btn,
	.nav_link {
		font-size: 10px;
	}

	.nav_left .nav_link {
		margin-right: 1.5rem;
		margin-left: 0;
	}

	.nav_right .nav_link {
		margin-right: 1.5rem;
	}

	.frame1 {
		top: 8%;
	}

	.frame2 {
		top: 15.3%;
	}

	.frame3 {
		right: 13.5%;
	}

	.frame4 {
		bottom: 16%;
	}

	.frame6 {
		top: 36%;
	}

	.frame7 {
		left: 9.5%;
	}


	/* Content */


	.inner_wrap {
		justify-content: center;
		width: 708px;
		margin: 0 auto;
	}

	/* Home */

	.home_item .badge {
		width: 90px;
	}

	.home-lg {
		display: block;
	}
	.home-sm {
		display: none;
	}

	.pages_inner {
		justify-content: center;
	}

	/* Builder */

	.builder_content {
		width: 42%;
		padding: 0;
	}

	.builder_text {
		padding: 1.5rem 0;
	}

	.builder_list-item {
		font-size: 1.285rem;
		padding-left: 4.5rem;
	}

	.builder_list-item:nth-child(1) {
		background: url(../assets/images/builder/layers.svg) 0 50% no-repeat;
		-webkit-background-size: 3rem;
		background-size: 3rem;
	}

	.builder_list-item:nth-child(2) {
		-webkit-background-size: 3rem;
		background-size: 3rem;
	}

	.builder_list-item:nth-child(3) {
		-webkit-background-size: 3rem;
		background-size: 3rem;
	}

	/* Events */

	.events_content {
		width: 45%;
		padding-right: 0;
	}

	/* Features */

	.features_subtitle {
		width: 52%;
	}
}

@media (max-width: 767px)  {

	/* Tags */

	h4 {
		font-size: 1.2rem;
	}

	/* Containers */

	.container {
		width: 600px;
	}

	/* Columns */

	.column_1-3 {
		width: 50%;
	}

	/* Header */

	.header_inner {
		-webkit-background-size: cover;
		background-size: cover;
	}

	.header_inner:after,
	.header_inner:before {
		display: none;
	}

	.header_top {
		position: relative;
		z-index: 200;
	}

	.nav_left,
	.nav_right {
		display: none;
	}

	/* Mobile Menu */

	.nav_mobile {
		display: block;
		text-align: center;

		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 0;
		opacity: 1;
		background: #13130D;

		padding-top: 2rem;
		padding-bottom: 2rem;

		transform: translateX(100%);
		transition: all .4s linear;
	}

	.nav_mobile.active {
		transform: translateX(0%);
	}

	.nav_link {
		display: block;
		text-align: center;
		background: #13130D;
		font-size: 11px;
		margin: 0;
		padding: 1.8rem 3rem;
		position: relative;
		z-index: 100;
	}

	.nav_link:hover {
		background: #C9A050;
		color: #13130D;
	}

	.nav-toggle {
		display: block;
	}

	.nav_btn {
		background: #EBE9CF;
		color: #13130D;
		margin: 2rem 0 2rem;
		padding: 1.5rem 4.5rem;
		border-radius: 3rem;
		border: none;
	}

	.frame {
		display: none;
	}

	/* Content */

	.flex_inner {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.inner_wrap {
		justify-content: center;
		width: 100%;
	}

	/* Builder */

	.builder-wrap {
		-webkit-background-size: contain;
		background-size: contain;
		background-position: 100% 100%;
	}

	.builder_content {
		width: 100%;
		padding-bottom: 3rem;
	}

	.builder_img {
		width: 100%;
	}

	/* Events */

	.events-wrap {
		-webkit-background-size: contain;
		background-size: contain;
		background-position: 100% 100%;
	}

	.events_content {
		width: 100%;
		padding-bottom: 0;
	}

	.events_img {
		width: 100%;
		padding-bottom: 3rem;
	}
}

@media (max-width: 600px) {

	/* Tags */

	h1 {
		font-size: 3.4rem;
	}

	/* Containers */

	.container {
		width: 100%;
	}

	/* Columns */
	.column_1-4,
	.column_1-5,
	.column_1-6 {
		width: 50%;
	}

	/* Header */

	.header-wrap {
		height: 100vh;
	}

	.header_content {
		width: 100%;
		padding: 0 30px;
	}

	/* Builder */

	.builder-wrap {
		padding: 5rem 0;
	}

	/* Events */

	.events-wrap {
		padding: 5rem 0;
	}

	/* Plugins */

	.plugins-wrap {
		padding: 5rem 0 2.6rem;
	}

	/* Pages */

	.pages-wrap {
		padding: 5rem 0 3rem;
	}

	/* Features */

	.features-wrap {
		padding: 5rem 0 3rem;
	}

	.features_subtitle {
		width: 100%;
	}

	/* Footer */

	.footer_inner {
		padding: 0 15px;
	}

	.footer_title {
		font-size: 4rem;
	}
}

@media (max-width: 479px) {

	/* Tags */

	h1 {
		font-size: 3.4rem;
	}

	h3 {
		font-size: 2.4rem;
	}

	.container,
	.container_fluid {
		padding: 0 20px;
	}

	/* Columns */
	.column_1-3,
	.column_1-4,
	.column_1-5,
	.column_1-6 {
		width: 100%;
	}

	/* Header */

	.header_content {
		padding: 0 20px;
	}

	/* Content */

	.inner_wrap {
		width: 280px;
	}

	/* Footer */

	.footer_title {
		font-size: 3.4rem;
	}

	/* TopButton */

	#topBtn {
		right: 20px;
	}

}

@media (max-height: 479px) {
	.header-wrap {
		height: 100vh;
		min-height: 340px;
	}

	.nav_link {
		padding: 1rem 0;
	}

	.header_content {
		padding-top: 0;
	}

	.frame {
		display: none;
	}
}
