* {
	padding: 0;
	margin: 0;
	-webkit-background-origin: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*  Tags  */

html {
	font-size: 14px;
}

img {
	width: 100%;
	display: block;
}

body {
	width: 100%;
	background: #F7F6EC;
	font-family: 'Cardo', serif;
	font-size: 1.71rem; /*  24px  */
	font-weight: 400;
	color: #6D6D65;

	overflow-x: hidden;
}

a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	font-size: .9rem; /* 13px */
	cursor: pointer;
	letter-spacing: .08em;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #13130D;
}

h1, h2, h3,h4 {
	font-family: 'Metropolis', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 5rem; /* 70px */
}

h2 {
	font-size: 3.57rem; /* 50px */
}

h3 {
	font-size: 2.86rem; /* 40px */
}

h4 {
	font-size: 1.71rem; /*  24px  */
}

h5 {
	font-size: 1.285rem; /* 18px */
}

/*  Containers  */

.container_fluid {
	width: 100%;
	margin: 0;
	padding: 0 95px;
}

.container {
	width: 1672px;
	padding: 0 60px;
	margin: 0 auto;
}

/*  Columns  */

.columns_wrap {
	margin-right: -36px;
}

.column {
	display: inline-block;
	vertical-align: top;
	padding-right: 36px;
	padding-bottom: 36px;
}

.column_1-3 {
	width: 33.333333%;
}

.column_1-5 {
	width: 20%;
}

.column_1-4 {
	width: 25%;
}

.column_1-6 {
	width: 16.66666%;
}

/*  Header  */

.header-wrap {
	height: 1005px;
	overflow: hidden;
}

.header_inner {
	width: 100%;
	height: 96.5%;
	position: relative;
	background: #EEEDE0 url(../assets/images/header/mask_back.png) center bottom no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.header_inner:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background: url(../assets/images/header/2back_1.png) 101% 8% no-repeat;
	-webkit-background-size: 39%;
	background-size: 39%;
	z-index: 1;
}

.header_inner:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background: url(../assets/images/header/1back_1.png) -4% 97% no-repeat;
	-webkit-background-size: 44%;
	background-size: 44%;
	z-index: 1;
}


.header_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	justify-content: space-between;
	align-items: center;
	background: #13130D;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;

	padding: 0;
}

.logo_wrap {
	padding-left: 5.2rem;
	margin-bottom: auto;
}

.logo_wrap a {
	font-family: 'Taviraj', serif;
	font-weight: 900;
	font-size: 45px;
	letter-spacing: -.02em;
	color: #EBE9CF;
	text-transform: lowercase;
}

.logo_wrap span {
	line-height: 1em;
}

.nav_link {
	color: #EBE9CF;
	letter-spacing: .08em;
}

.nav_link:hover {
	color: #C9A050;
}

.nav_left .nav_link {
	margin-left: 3.9rem;
	padding: 2.7rem 0;
}

.nav_right .nav_link {
	margin-right: 3rem;
}

.nav_btn {
	color: #EBE9CF;
	letter-spacing: .08em;
	padding: 2.7rem 3.1rem 2.7rem 3.4rem;
	border-left: 1px solid rgba(235, 233, 207, .2);
	margin: 0;
}

.nav_btn:hover {
	background: #C9A050;
	color: #13130D;
}

.nav_mobile {
	display: none;
}

/*  Nav toggle  */

.nav-toggle {
	display: none;

	position: absolute;
	top: 50%;
	right: 3rem;
	z-index: 1000;
	width: 2.5rem;
	padding: 1rem 0;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;
	transform: translateY(-50%);
}

.nav-toggle:focus {
	outline: none;
}

.burger {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;

	transition: background .2s linear;
}

.burger:before,
.burger:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 100;

	transition: transform .3s linear;
}

.burger:before {
	top: -.85rem;
}

.burger:after {
	bottom: -.85rem;
}

.nav-toggle.active .burger {
	background: none;
}

.nav-toggle.active .burger:before {
	transform-origin: center center;
	transform: translateY(.85rem) rotate(405deg);
}

.nav-toggle.active .burger:after {
	transform-origin: center center;
	transform: translateY(-.85rem) rotate(-405deg);
}

.header_content {
	position: absolute;
	width: 600px;
	top: 50%;
	left: 50%;
	color: #13130D;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 3.5rem;
	overflow-x: hidden;
	z-index: 10;
}

.header_suptitle {
	font-size: 1.285rem; /* 18px */
	font-weight: 700;
}

.header_title {
	line-height: 1.1em;
	padding: .5rem 0 1.3rem;
}

.header_btn {
	padding: 1.45rem 3.3rem;
	background: #13130D;
	border-radius: 3rem;
	color: #EBE9CF;
	margin-left: 1rem;
}

.header_btn:hover {
	background: #C9A050;
	color: #13130D;
}

.frame {
	position: absolute;

	-webkit-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	-moz-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);

}

.frame1 {
	top: 14%;
	left: 22%;
	width: 15.4%;
	z-index: 5;
}

.frame2 {
	top: 21.3%;
	left: -.25%;
	width: 28.8%;
	z-index: 4;
}

.frame3 {
	bottom: 11%;
	right: 18.5%;
	width: 19%;
	z-index: 4;
}

.frame4 {
	bottom: 26%;
	right: -5%;
	width: 30%;
	z-index: 3;
}

.frame5 {
	bottom: 6.5%;
	right: 6%;
	width: 15.8%;
	z-index: 4;
}

.frame6 {
	top: 46.6%;
	left: -1%;
	width: 10.6%;
	z-index: 5;
}

.frame7 {
	bottom: -2.9%;
	left: 13.5%;
	width: 29.3%;
	z-index: 2;
}

/* Home */

.home-wrap {
	position: relative;
	padding: 6rem 0 5rem;
	overflow: hidden;
}

.home_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 3rem;
	margin-right: -42px;
}

.home_item {
	padding-right: 42px;
	padding-bottom: 3.7rem;
}

.home_item img {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	-moz-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
}

.home-lg {
	display: none;
}

.home_item a {
	position: relative;
}

.home_item a:hover {
	transform: translateY(-5px);
}

.home_item .badge {
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: none;
	width: 117px;
	z-index: 10;
}

.home_title {
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	padding-top: 1rem;
}

/* Content */

.white {
	color: #EBE9CF;
}

.line {
	border-bottom: 2px solid #13130D;
	padding-bottom: 1.8rem;
}

.flex_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.section_title {
	line-height: 1.18em;
}

.section_text {
	line-height: 1.58em;
}

/* Builder */

.builder-wrap {
	background: #EEEDE0 url(../assets/images/builder/back.png) 100% 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	padding: 8.15rem 0 9.6rem;
	overflow: hidden;
}

.builder_content {
	width: 42%;
	padding-left: 4rem;
	padding-top: 1.8rem;
}

.builder_text {
	padding: 2.4rem 0 2.2rem;
}

.builder_list-item {
	list-style-type: none;
	padding-left: 3.4rem;
	line-height: 2.78em;
	font-family: 'Metropolis', sans-serif;
	font-size: 1.285rem; /* 18px */
	font-weight: 600;
	color: #13130D;
}

.builder_list-item:nth-child(1) {
	background: url(../assets/images/builder/layers.svg) 0 60% no-repeat;
	-webkit-background-size: 2.2rem;
	background-size: 2.2rem;
}

.builder_list-item:nth-child(2) {
	background: url(../assets/images/builder/switch.svg) 0 50% no-repeat;
	-webkit-background-size: 2.4rem;
	background-size: 2.4rem;
}

.builder_list-item:nth-child(3) {
	background: url(../assets/images/builder/controls.svg) 0 50% no-repeat;
	-webkit-background-size: 2.1rem;
	background-size: 2.1rem;
}

.builder_img {
	width: 42.6%;
}

.builder_img img {
	margin-left: -.5rem;
}

/* Events */

.events-wrap {
	background: #13130D url(../assets/images/events/back.png) -13% 34% no-repeat;
	-webkit-background-size: 42%;
	background-size: 42%;
	padding: 10rem 0 11.5rem;
	overflow: hidden;
}

.events_img {
	width: 38%;
	margin-left: 2rem;
}

.events_content {
	width: 40.6%;
	padding-right: 1rem;
}

.events_text {
	color: #7D7C6C;
}

.events_btn {
	margin-top: .5rem;
}

.events_btn:hover {
	color: #C9A050;
}

.events_btn span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1.4rem;
	width: 4.3rem;
}

/* Plugins */

.plugins-wrap {
	padding: 8.7rem 0 5.6rem;
	overflow: hidden;
}

.plugins_inner {
	padding-top: 2.6rem;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -44px;
}

.plugins_item {
	padding-right: 44px;
	padding-bottom: 44px;
}

.plugins_back {
	background: #EEEDE0;
	position: relative;
	/* padding-top: 86.6%; */
	height: 19.2rem;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

.plugins_back:hover {
	transform: scale(1.03);
}

.plugin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 3.7rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.plugin div {
	margin: 0 auto;
}

.plug1 {
	width: 4.7rem;

}

.plug2 {
	width: 6.7rem;
}

.plug3 {
	width: 4.7rem;
}

.plug4 {
	width: 4.7rem;
}

.plug5 {
	width: 3.7rem;
}

.plug6 {
	width: 5.7rem;
}

.plug7 {
	width: 5.1rem;
}

.plug8 {
	width: 4.7rem;
}

.plug9 {
	width: 4.7rem;
}

.plug10 {
	width: 5.4rem;
}
.plugins_title {
	font-family: 'Metropolis', sans-serif;
}

/* Pages */

.pages-wrap	{
	padding: 8.8rem 0 5rem;
	background: #EEEDE0;
	overflow: hidden;
}

.pages_inner {
	padding-top: 3rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -46px;
}

.pages_item {
	padding-right: 46px;
	padding-bottom: 52px;
}

.pages_item a:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}

.pages_item img {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	-moz-box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
	box-shadow: 0px 3px 6px 0px rgba(130,131,117,0.29);
}

.pages_title {
	padding-top: 1.6rem;
	font-weight: 600;
}

/* Features */

.features-wrap {
	padding: 8.8rem 0 6.3rem;
	overflow: hidden;
}

.features_subtitle {
	font-family: 'Metropolis', sans-serif;
	font-size: 1.142rem;
	padding-top: 1.7rem;
	line-height: 1.7em;
	width: 32%;
}

.features_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 2.6rem;
	text-align: center;
}

.features_item {
	background-color: #fff;
	width: 100%;
	/* padding-top: 103.2%; */
	height: 19rem;
	position: relative;
}

.features_column {
	transition: transform .2s linear;
}

.features_column:hover {
	transform: translateY(-5px);
}

.features_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	text-align: center;
	padding: 4.6rem 0 3.8rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.features_img {
	width: 5rem;
	margin: 0 auto;
}

.features_content h5 {
	font-family: 'Metropolis', sans-serif;
	line-height: 1.39em;
}

/* Footer */

.footer-wrap {
	padding: 7.3rem 0 7rem;
	background: #13130D;
	position: relative;
	overflow: hidden;
}

.footer-wrap:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(../assets/images/footer/back.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .6;
}

.footer_inner {
	text-align: center;
	color: #EBE9CF;
	position: relative;
	z-index: 5;
}

.footer_title {
	color: #EBE9CF;
	line-height: 1.085em;
	padding: .5rem 0 1.5rem;
}

.footer_btn {
	background: #EBE9CF;
	color: #13130D;
	padding: 1.4rem 3.7rem;
	border-radius: 5rem;
}

.footer_btn:hover {
	background: #C9A050;
}

/* Top Button */

#topBtn {
	position: fixed;
	bottom: 30px;
	right: 31px;
	font-size: 1.2rem;
	width: 2.9rem;
	height: 2.9rem;
	border-radius: 50%;
	border: 1px solid #c9c8bf;
	background: #f7f6ec;
	color: #13130D;
	z-index: 100;
	outline: none;
	cursor: pointer;
	display: none;
	transition: all .3s linear;
}

#topBtn:hover {
	color: #ebe9cf;
	border-color: #c9a050;
	background: #c9a050;
	outline: none;
}

/*LOADER*/

#loader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1000;
	transition: 0.3s ease opacity;
}
#loader:before,
#loader:after {
	content: '';
	width: 80px;
	height: 80px;
	border: 2px solid #C9A050;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	animation-name: loaderCircleAnim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#loader:after {
	animation-delay: 1s;
}
@keyframes loaderCircleAnim {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
	}
	10% {
		width: 10px;
		height: 10px;
		opacity: 1;
	}
	80% {
		width: 60px;
		height: 60px;
		opacity: 0.1;
	}
	100% {
		width: 70px;
		height: 70px;
		opacity: 0;
	}
}