.header_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	justify-content: space-between;
	align-items: center;
	background: #13130D;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;

	padding: 0;
}
.nav_left .nav_link {
	margin-left: 3.9rem;
	padding: 2.7rem 0;
}
.nav_link {
	color: #EBE9CF;
	letter-spacing: .08em;
}

.nav_link:hover {
	color: #C9A050;
}
.logo_wrap {
	padding-left: 5.2rem;
	margin-bottom: auto;
}

.logo_wrap a {
	font-family: 'Taviraj', serif;
	font-weight: 900;
	font-size: 45px;
	letter-spacing: -.02em;
	color: #EBE9CF;
	text-transform: lowercase;
}

.logo_wrap span {
	line-height: 1em;
}
.nav_btn {
	color: #EBE9CF;
	letter-spacing: .08em;
	padding: 2.7rem 3.1rem 2.7rem 3.4rem;
	border-left: 1px solid rgba(235, 233, 207, .2);
	margin: 0;
}
/*  Nav toggle  */

.nav-toggle {
	display: none;

	position: absolute;
	top: 50%;
	right: 3rem;
	z-index: 1000;
	width: 2.5rem;
	padding: 1rem 0;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;
	transform: translateY(-50%);
}

.nav-toggle:focus {
	outline: none;
}
.burger {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;

	transition: background .2s linear;
}

.burger:before,
.burger:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 100;

	transition: transform .3s linear;
}

.burger:before {
	top: -.85rem;
}

.burger:after {
	bottom: -.85rem;
}
a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	font-size: .9rem; /* 13px */
	cursor: pointer;
	letter-spacing: .08em;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.nav_right .nav_link {
	margin-right: 3rem;
}
