
<div class="header_top">
  <div class="nav nav_left">
    <a class="nav_link" target="_blank" routerLink="/profile">Profile</a>
    <a data-scroll="#pages" class="nav_link">Feed</a>
  </div>
  <div class="logo_wrap">
    <a href="" target="_blank">
      <span>Muses</span>
    </a>
  </div>
  <div class="nav nav_right">
    <a class="nav_link" target="_blank" routerLink="/login">Settings</a>
    <a class="nav_link" target="_blank" href="https://themerex.net/support/">Support</a>
    <a class="nav_btn" target="_blank" href="https://themeforest.net/checkout/from_item/25312661?license=regular&amp;size=source">Login</a>
  </div>

  <!-- <div class="nav_mobile" id="nav">
    <a class="nav_link" target="_blank" href="https://themerex.net/offers/?utm_source=themedemo&amp;utm_medium=offers&amp;utm_campaign=demooffers">Get Website Customization</a>
    <a data-scroll="#pages" class="nav_link">Pages</a>
    <a class="nav_link" target="_blank" href="http://ozeum.themerex.net/doc">Documentation</a>
    <a class="nav_link" target="_blank" href="https://themerex.net/support/">Support</a>
    <a class="nav_btn" target="_blank" href="https://themeforest.net/checkout/from_item/25312661?license=regular&amp;size=source">Buy Now</a>
  </div> -->
  
  <button class="nav-toggle" id="nav_toggle" type="button">
    <span class="burger">Menu</span>
  </button>
</div>
